.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}
 
.footerlinks:hover {
        color: #ffd800;
    }
 
#footer1 {
    background: #762b00;
}
 
#footer2 {
    background: #531f00;
}
body{
    background:url(../imgs/landscape-sea-bay-nature-shore-sand-73245-wallhere.com.jpg) 
}

